<% if @cart.empty? %>
  <h5>Your cart is empty.</h5>
<% else %>
  <h3>Your cart:</h3>
  <ul>
  <% @cart.items.each do |k,v| %>
    <li><%=k.name%>: <%=v%></li>
  <% end %>
  </ul>
  <%= link_to "Empty", cart_path, method: :delete %> 
<% end %>
